.flex-row
    pre.ascii-art
        |        .
        |       ,O,
        |      ,OOO,
        |'oooooOOOOOooooo'
        |  `OOOOOOOOOOO`
        |    `OOOOOOO`
        |    OOOO'OOOO
        |   OOO'   'OOO
        |  O'         'O
    h1 Welcome to anarchy.tech